.question {
  list-style: none;
  background-color: lightblue;
}

.test {
  margin-left: 20rem;
  margin-right: 20rem;
}

.spacer {
  margin: 1em auto;
  width: 30%;
}

.nextquestion {
  margin: auto;
  box-shadow: black;
}

.right {
  color: green;
  background-color: lightgreen;
}

.wrong {
  color: red;
}
